img {
  padding: 5px;
  margin: 10px;
  max-width: 100%;
  display: inline-block;
}

.wallpaper {
  max-width: 100%;
  margin-top: -8px;
  background-size: cover;
  display: inline-block;
  position: absolute;
  left: -15px;
}

.curated__collection {
  width: 960px;
  height: 39px;
  position: relative;
}

.cat__ttl-section {
  display: inline;
  position: relative;
  text-align: center;
  font-family: "NOTHS Sans No2 SemiBold", "Helvetica Neue", HelveticaNeue, Arial,
    sans-serif;
  font-size: 21px;
  letter-spacing: 0.4px;
  color: #2f2f2f;
  margin-bottom: 9.6px;
}

.cat__subheading-section {
  display: inline;
  position: absolute;
  text-align: center;
}

.sign_in_register {
  top: 55px;
  right: 160px;
  position: relative;
  border: 0px solid #ffffff;
  margin-left: 20px;
}

.logo_image {
  height: 98.09px;
  width: 200px;
  padding: 1px;
  margin: -20px;
  margin-bottom: 40px;
  display: inline-block;
}

.header_tagline {
  position: absolute;
  left: 60px;
  top: 0px;
  margin: 50px;
  display: block;
}

.tagline_icon {
  width: 270px;
  height: 50px;
}

.header {
  color: #000000;
  padding-bottom: 10px;
  position: absolute;
  font-family: NOTHSSansNo2-Regular;
  width: 310px;
  right: -80px;
  top: -6px;
  margin-top: 14px;
  font-family: "NOTHS Sans No2 Regular";
}

.links {
  height: 10px;
  width: 160px;
  top: -4px;
  position: relative;
  display: inline-block;
  font-size: 13px;
  text-decoration-color: rgb(85, 85, 85);
}

a:link {
  color: rgb(85, 85, 85);
  text-decoration: none;
}

a:visited {
  color: rgb(85, 85, 85);
  text-decoration: none;
}

.search_container {
  position: absolute;
  top: 50px;
  right: 150px;
  margin: 10px;
  padding: 20px;
  border: 2px solid #ffffff;
}

.search_input {
  width: 211px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border: 1px solid #bfdcee;
  border-image-repeat: stretch;
  /* border-left-color: rgb(191, 220, 238);
  border-right-color: rgb(191, 220, 238);
  border-top-color: rgb(191, 220, 238);
  border-bottom-color: rgb(191, 220, 238); */
  border-radius: 3px;
  height: 40px;
  text-align: left;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;
  margin: -3px;
  font-family: "NOTHS Sans No2 Regular";
  padding-left: 10px;
  box-shadow: inset 0 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.gc-navigation {
  max-width: 1140px;
  height: 20px;
  position: relative;
  margin: 0 auto;
  padding: 20px 0 10px;
}

.shopping_basket {
  fill: transparent;
  width: 20.55px;
  height: 18.66px;
  stroke: #555;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: inline-block;
}

.favourites_icon {
  fill: transparent;
  width: 25.55px;
  height: 20.66px;
  stroke: #555;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: inline-block;
  margin-right: 25px;
  margin-left: -35px;
}

.gc-navigation-items {
  display: block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #555;
  position: absolute;
  width: 100%;
  left: 60%;
  transform: translate(-50%, -50%);
}

li {
  float: left;
  margin: 9.5px;
  margin-bottom: 2px;
  font-weight: 800px;
  font-size: 14px;
  text-decoration-color: rgb(85, 85, 85);
  font-family: "NOTHS Sans No2 Semi Bold";
}
.search_dropdown {
  width: 159.31px;
  background-color: #ffffff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-style: solid;
  border-image-repeat: stretch;
  border-left-color: rgb(191, 220, 238);
  border-right-color: rgb(191, 220, 238);
  border-top-color: rgb(191, 220, 238);
  border-bottom-color: rgb(191, 220, 238);
  height: 42.5px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
  font-family: "NOTHS Sans No2 Regular";
  color: grey;
}

.global_component {
  max-width: 960px;
  padding: 12px 20px 0;
  margin: 0 auto;
  position: relative;
  border-top: 3px solid #056582;
  margin-bottom: 2px;
  margin-top: -8px;
}
.search_form_container {
  width: 455px;
  height: 56px;
  top: 70px;
  right: 20px;
  position: absolute;
}

.search_button {
  height: 45px;
  background-color: rgb(58, 180, 217);
  box-shadow: rgb(58, 180, 217);
  color: rgb(255, 255, 255);
  position: absolute;
  width: 67px;
  text-decoration-style: solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin: 0px 10px 10px 10px;
  border: 1px solid #000000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "NOTHS Sans No2 Regular";
  background-color: #0a89af;
  border-color: #056582;
  box-shadow: inset 0 1px 0 #3ab4d9;
  border-radius: 5px;
  background-image: linear-gradient(180deg,#0ca6d4 0,#0a89af);
}
